USE [master]
GO
/****** Object:  Database [DA_QL_CH_VANPHONGPHAM_JAVA]    Script Date: 05/12/2021 10:31:20 PM ******/
CREATE DATABASE [DA_QL_CH_VANPHONGPHAM_JAVA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DA_QL_CH_VANPHONGPHAM_JAVA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DA_QL_CH_VANPHONGPHAM_JAVA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DA_QL_CH_VANPHONGPHAM_JAVA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DA_QL_CH_VANPHONGPHAM_JAVA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DA_QL_CH_VANPHONGPHAM_JAVA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DA_QL_CH_VANPHONGPHAM_JAVA]
GO
/****** Object:  Table [dbo].[CHITIETHD]    Script Date: 05/12/2021 10:31:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHD](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NULL,
	[TENSP] [nvarchar](50) NULL,
	[SL] [int] NULL,
	[GIA] [float] NULL,
 CONSTRAINT [PK_CHITIETHD_1] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 05/12/2021 10:31:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [int] IDENTITY(1,1) NOT NULL,
	[NGAY] [date] NULL,
	[GHICHU] [nvarchar](50) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[QUANTRI]    Script Date: 05/12/2021 10:31:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[QUANTRI](
	[TENDANGNHAP] [nchar](10) NOT NULL,
	[MATKHAU] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 05/12/2021 10:31:21 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](50) NULL,
	[GIA] [float] NULL,
	[SOLUONG] [int] NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[QUANTRI] ([TENDANGNHAP], [MATKHAU]) VALUES (N'2001190594', N'2001190594')
INSERT [dbo].[QUANTRI] ([TENDANGNHAP], [MATKHAU]) VALUES (N'2001190510', N'2001190510')
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG]) VALUES (1, N'Vở 4 ô ly 100 trang', 4500, 1000)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG]) VALUES (2, N'Bút chì 3B', 3000, 1500)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [GIA], [SOLUONG]) VALUES (3, N'Bút mực tím', 5500, 2000)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_HOADON] FOREIGN KEY([MAHD])
REFERENCES [dbo].[HOADON] ([MAHD])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_HOADON]
GO
ALTER TABLE [dbo].[CHITIETHD]  WITH CHECK ADD  CONSTRAINT [FK_CHITIETHD_SANPHAM1] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CHITIETHD] CHECK CONSTRAINT [FK_CHITIETHD_SANPHAM1]
GO
USE [master]
GO
